@model DangKyHocThuat_Web.Models.Team

@{
    string v_strTitle = "Thêm mới";
    if (Model.AutoId != 0)
        v_strTitle = "Cập nhật";

    ViewData["Title"] = v_strTitle + " đội";
}

<h1 class="text-primary mb-4">@v_strTitle đội</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <form asp-action="Save_Data">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <!--Các field ẩn-->
                    <input type="hidden" asp-for="AutoId" />
                    <input type="hidden" asp-for="Deleted" />
                    <input type="hidden" asp-for="CreatedAt" />
                    <input type="hidden" asp-for="CreatedBy" />
                    <input type="hidden" asp-for="UpdatedBy" />
                    <input type="hidden" asp-for="UpdatedAt" />
                    <!---->

                    <div class="form-group mb-3">
                        <label asp-for="TeamName" class="control-label">Tên đội:</label>
                        <input asp-for="TeamName" class="form-control" />
                    </div>

                    <div class="d-flex justify-content-between">
                        <a asp-action="List" class="btn btn-secondary">Quay về</a>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
