/* Layout title page */
.layout-title {
    display: flex;
    justify-content: space-between;


    .title-page,
    .title-page-center {
        color: #324CC7;
        font-size: 26px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .title-page-center {
        text-align: center;
    }

    .subtitle-page,
    .subtitle-page-uppercase {
        font-size: 20px;
        text-align: justify;
    }

    .subtitle-page-uppercase {
        text-transform: uppercase;
        text-align: center;
    }
}

/* Layout List card */
.layout-challenge-list-card {
    text-align: center;

    .challenge-card {
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
    }

    .challenge-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }

    .challenge-header-title-layout {
        display: flex;
        flex-direction: column;
    }

    .challenge-title {
        font-size: 16px;
        color: #000;
    }

    .challenge-status {
        width: 98px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #CCCCCC;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
    }

    .challenge-language {
        font-size: 14px;
        color: #000;
        background-color: #CCCCCC;
        padding: 5px 10px;
        border-radius: 5px;
        display: inline-block;
    }

    .challenge-time {
        font-size: 18px;
        text-align: start;
    }

    .progress-bar {
        width: 100%;
        height: 5px;
        margin: 10px 0;
        border-radius: 5px;
    }

    .time-range {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: #7a7a7a;
    }

    .DaKetThuc {
        background-color: #cccccc;
    }

    .ChuaDienRa {
        background-color: #FFA500;
    }

    .DangDienRa {
        background-color: #2FA2FC;
    }
}

/* -----------------------------*/
/* ---layout textfield data-- */
/* -----------------------------*/

/* Style for the container */
.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #E6E0E9;
    padding: 8px 16px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #49454F;
}

/* Style for the label */
.input-container label {
    font-size: 14px;
    color: #6b5f75;
    margin-bottom: 8px;
}

/* Style for the input field */
.input-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    outline: none;
    color: #49454F;
}

/* Input field on focus */
.input-container input:focus {
    border-color: #7c6a95;
}

/* Style for the error message */
.error-message {
    color: #B02424;
    font-size: 12px;
    margin-top: 5px;
    visibility: hidden;
    display: none;
    /* Ban đầu ẩn thông báo lỗi hoàn toàn */
}

/* Show the error message */
.input-container input:invalid+.error-message {
    visibility: visible;
    display: block;
}

/* -----------------------------*/
/* ---layout textfield search-- */
/* -----------------------------*/

/* Style for the container */
.input-search-container {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 8px 16px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #49454F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);

    /* Style for the label */
    label {
        font-size: 14px;
        color: #6b5f75;
        margin-bottom: 8px;
        text-transform: capitalize;
    }

    /* style for search icon */
    .search-icon-layout {
        position: relative;

        /* Style for the input field */
        input {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #dcdcdc;
            border-radius: 20px;
            outline: none;
            color: #49454F;
            width: 100%;
        }

        /* Input field on focus */
        input:focus {
            border-color: #7c6a95;
        }

        /* Style for the error message */
        .error-message {
            color: #B02424;
            font-size: 12px;
            margin-top: 5px;
            visibility: hidden;
            display: none;
            /* Ban đầu ẩn thông báo lỗi hoàn toàn */
        }

        /* Show the error message */
        input:invalid+.error-message {
            visibility: visible;
            display: block;
        }

        span.search-icon {
            position: absolute;
            right: 0;
            bottom: calc(50% - 12px);
            margin-right: 16px;
        }
    }
}

/* -----------------------------*/
/* ---layout table-- */
/* -----------------------------*/

/* style thead th*/
table.table-bordered>thead>tr>th {
    background-color: #ddd;
    border: 1px solid #ccc;
    text-transform: uppercase;
    color: #49454F;
}

/* style tbody td*/
table.table-bordered>tbody>tr>td {
    border: 1px solid #ccc;
}

/* style tbody tr odd */
table.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-bg-type: #f6f5fa !important;
}

.tableFixHead {
    overflow: auto;
    height: 100px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Just common table stuff. Really. */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px 16px;
}

th {
    background: #eee;
}