################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASP_DangKiThi/.vs/ASP_DangKiThi/FileContentIndex/
