################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASP_DangKiThi/.vs/ASP_DangKiThi/FileContentIndex/0a9d473f-69b1-4f2f-a5cc-def64fd8e34c.vsidx
/ASP_DangKiThi/.vs/ASP_DangKiThi/FileContentIndex/6ee63c38-e866-4cd0-8e89-842612e73090.vsidx
/ASP_DangKiThi/.vs/ASP_DangKiThi/FileContentIndex/733c367b-15cf-46b2-9347-27335c9ac1e8.vsidx
/ASP_DangKiThi/.vs/ASP_DangKiThi/FileContentIndex/85aa35d4-1ddd-41e4-b245-dc92f00c6bc2.vsidx
/ASP_DangKiThi/.vs/ASP_DangKiThi/FileContentIndex/ebb12a7c-33ea-4652-803a-0de5170befc7.vsidx
