<div class="container">
    <div class="row">
        <div class="col-md-2 home-link">
            <a class="" href="#">Cuộc thi học thuật</a>
        </div>
        <div class="col-md-2 d-flex align-items-center text-white">
            @@copyright IRT 2024
        </div>
        <div class="col-md-8">
            <ul class="footer-links">
                <li>
                    <a href="#">Về chúng tôi</a>
                </li>
                <li>
                    <a href="#">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</div>
