@inject IHttpContextAccessor httpCA

@{
    //Check đăng nhập hay chưa bằng session
    string strMaDangNhap = CCommon.GetMaDangNhapSession(httpCA);

    AccountModel objUser = new AccountModel();
}

<nav>
    <div class="container">
        <div class="row">
            <!-- menu links -->
            <div class="col-md-2 home-link">
                <a class="" href="#">cuocthihocthuat.com</a>
            </div>
            <div class="col-md-8">
                <ul>
                    <li class="active">
                        <a href="#">Trang Chủ</a>
                    </li>
                    <li>
                        <a href="#">Đăng ký thi đấu</a>
                    </li>
                    <li>
                        <a href="#">Kết quả giải đấu</a>
                    </li>
                </ul>
            </div>
            <!-- account -->
            <div class="col-md-2">
                @if (strMaDangNhap == "")
                {
                    <a class="btn-DangNhap" asp-action="LoginView" asp-controller="Account">Đăng nhập</a>
                }
                else
                {
                    <div class="btn-DaDangNhap">
                        <img src="./public/img/avatar.png" alt="">
                        <span>Trần văn ba</span>
                        <span><i class="fa-solid fa-caret-down"></i></span>
                    </div>
                    <a class="btn-DangXuat" asp-action="Logout" asp-controller="Account">Đăng xuất</a>
                }
            </div>
        </div>
    </div>
</nav>